/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

@font-face {
    font-family: 'SF';
    src: url('Fonts/SF-Pro.ttf');
}

body {
    background-color: #ffffff;
    font-family: 'SF', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    cursor: default;
}

a {
    text-decoration: none;
    color: #000;
}

/* Nav bar */
.nav-bar {
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
    font-size: 30px;
    color: green;
}

.nav-bar .logo, .nav-bar .profile-button {
    padding: 20px;
    position: absolute; 
}

.nav-bar .logo {
    left: 0; 
}

.nav-bar img {
    max-height: 50px;
    width: auto; 
}

.nav-bar .profile-button {
    font-size: 18px;
    right: 0; 
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.nav-bar ul li {
    padding-left: 20px;
}

.nav-bar ul li a {
    transition: color 0.2s ease-in-out;
}

.book-link {
    color: #6a6a6a; 
}

.host-link {
    color: #000; 
}

.nav-bar ul li a:hover {
    color: #000; 
}

/* Profile Drop Down */
.profile-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999; 
}

.profile-wrapper {
    position: absolute;
    top: 50px;
    left: 85vw;
    width: 100%;
    display: none;
    z-index: 998; 
    display: none; 
}

.profile-wrapper.show {
    display: block; 
}

.profile-container {
    border: #000;
    background: #fff;
    box-shadow: 3px 3px 9px rgba(37, 37, 37, .25);
    border-radius: 20px;
    width: 200px;
}

.profile-container li {
    position: relative;
    font-size: 18px;
    padding: 12px;
    padding-left: 15px;
    text-decoration: none;
    list-style: none;
}

.profile-container li a {
    transition: all 0.1s ease-in-out;
}

.profile-container li a:hover {
    color: #ff6e86;
    text-decoration: underline;
}

.profile-container li span {
    margin-top: 20px;
}

.profile-container ul {
    padding: 0;
}

#logout {
    margin-top: 40px;
}

/* Bar under Nav */
.nav-bar::after {
    content: '';
    display: block;
    height: 2px; 
    background-color: #d1d1d1; 
    position: absolute;
    bottom: 0; 
    left: 50px; 
    right: 50px; 
    border-radius: 25px;
}

/* Title input */

.details-container {
    margin-left: 50px;
    width: 50vw;
    max-width: 50vw;
}

.vl {
    border-left: 1.2px solid #bbbaba;
    height: 40px;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    padding-right: 0px;
    max-height: 45px; 
}

.input-group {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin-right: 10px;
}

.input-group label {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 5px; 
}

.input-group input {
    text-align: left;
    height: auto;
}

.search-bar input {
    background: transparent;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 30px;
}

.search-bar select {
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 30px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    color: #666; 
}

.search-bar option {
    background: white; 
    color: black; 
}

.search-bar select option[value=""] {
    color: grey; 
}

.search-bar select:active {
    color: #000;
}

/* Description */

.description-container .input-group {
    background: #f0f0f0;
    border: none;
    border-radius: 25px;
    padding: 25px;
    height: 300px;
}

.description-container .input-group input {
    background-color: transparent;
    border: none;
    height: auto;
    height: 300px;
    text-align: left;
    vertical-align: top;
}

.description-container .amenities-group {
    background: #f0f0f0;
    border: none;
    border-radius: 25px;
    padding: 25px;
    margin-top: 25px;
    height: 100px;
}

.description-container .amenities-group input {
    background-color: transparent;
    border: none;
    height: 90px;
    width: 100%;
    text-align: left;
    vertical-align: top;
}

.description-container label {
    font-size: 16px;
}

/* Gallery */
.gallery-container {
    max-width: 40vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-image img {
    max-width: 100%;
    border-radius: 25px; 
    margin-bottom: 20px; 
    transition: all 0.2s ease-in-out;
}

.thumbnail-container {
    display: flex;
    justify-content: space-around; 
    width: 100%;
}

.thumbnail {
    width: calc(33% - 10px);  
    margin: 5px;
    border-radius: 25px; 
    cursor: pointer; 
    transition: all 0.2s ease-in-out;
}

.main-image img:hover {
    transform: scale(1.01);
}

.thumbnail:hover {
    transform: scale(1.05);
}

.content {
    display: flex;
    justify-content: space-between;
}

.description-container {
    flex: 1;
    margin: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

.gallery-container {
    margin: 20px;
    margin-right: 50px;
}

.footer::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #d1d1d1;
    position: absolute;
    bottom: 60px; 
    left: 50px; 
    right: 50px; 
    border-radius: 25px;
}

.footer {
    height: 60px; 
    width: 100%;
    position: fixed; 
    bottom: 0;
    left: 0px;
    color: #000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #fff;
}

.footer .price {
    padding-left: 50px;
    font-size: 22px;
}

.button-container {
    padding-right: 50px;
    display: flex;
    gap: 35px;
    height: 40px;
    width: auto;
}
  
.button-container button {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    width: 100px;
}

.button-container .cancel {
    background-color: #787878;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.cancel a{
    color: #fff;
}

.button-container .host {
    background-color: #ff6e86;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.button-container .host:hover {
    cursor: pointer;
    background-color: #ff395c;
}

.button-container .cancel:hover {
    cursor: pointer;
    background-color: #6a6a6a;
}

/* Day Selector */

.calendar-mask {
    position: absolute;
    z-index: 98;
    background: rgb(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    opacity: 1; 
    pointer-events: auto; 
    visibility: hidden;
}

.calendar-mask.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden; 
}

.calendar-container {
    z-index: 99;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
}

/* Calendar C1 = Container for calendar "Select dates" */
.calendar-c1 {
    z-index: 100;
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-c1 h1 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-weight: 500;
    font-size: 52px;
}

.day-selector-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.day {
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.05), 
                inset 1px 1px 3px rgba(94, 104, 121, 0.15); 
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.day p {
    margin: 0;
    font-size: 20px;
}

.day.selected {
    background-color: #ff6e86;
    color: white;
}

.publish-confirm-buttons {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.publish-confirm-buttons a {
    border-radius: 45px;
    padding: 15px;
    color: #fff;
}

.publish-confirm-buttons .confirmBtn {
    text-align: center;
    width: 100px;
    font-size: 24px;
    background-color: #ff6e86;
    transition: all 0.2s ease-in-out;
}

.publish-confirm-buttons .cancelBtn {
    text-align: center;
    width: 100px;
    font-size: 24px;
    margin-left: 15px;
    background-color: #787878;
    transition: all 0.2s ease-in-out;
}

.publish-confirm-buttons .confirmBtn:hover {
    background-color: #ff395c;
}

.publish-confirm-buttons .cancelBtn:hover {
    background-color: #5d5d5d;
}


/* Confirmation */
.confirm-publish-container {
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: #fff;
    z-index: 999;
    transition: all 0.5s ease;
    opacity: 1;
}

.c-publish{
    display: flex;
    justify-content: space-evenly;
}

.confirm-publish-container.hidden{
    opacity: 0;
    visibility: hidden;
}

/*Price */
.confirm-publish h1{
    font-weight: 400;
    font-size: 48px;
    text-align: left;
}

.price-selector h1{
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}

.price-selector{
    display: grid;
    justify-content: space-around;
}

.price-selector input{
    font-size: 32px;
    border-style: none;
    text-align: center;
}

.price-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.currency-symbol {
    position: absolute;
    left: 10px;
    font-size: 34px;
    color: #000;
}

.price-input-container input[type="number"] {
    font-size: 32px;
    border-style: none;
    border-radius: 30px;
    text-align: center;
    height: 40px;
    background-color: #f3f3f3;
}

.price-input-container input[type="number"]::placeholder {
    color: #ccc;
}

.details-container-c {
    display: grid;
    max-width: 45vw;
}

.details-container-c .amenities {
    margin-top: 50px;
}

.details-container-c h2 {
    font-weight: 400;
}

.details-container-c .availability {
    margin-top: 50px;
}

.availability .day-selector-container {
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

.confirm-publish .day {
    pointer-events: none; 
}

.details-container-c .price{
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.confirmation-c{
    width: 100%;
    position: absolute;
    background-color: #fff;
}

.confirm-buttons{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.confirm-buttons a {
    border-radius: 45px;
    padding: 15px;
    color: #fff;
}

.confirm-buttons .publishBtn {
    text-align: center;
    width: 100px;
    margin-left: 15px;
    font-size: 22px;
    background-color: #ff6e86;
    transition: all 0.2s ease-in-out;
}

.confirm-buttons .cancelPublishBtn {
    text-align: center;
    width: 100px;
    font-size: 22px;
    background-color: #787878;
    transition: all 0.2s ease-in-out;
}

.confirm-buttons .publishBtn:hover {
    background-color: #ff395c;
}

.confirm-buttons .cancelPublishBtn:hover {
    background-color: #5d5d5d;
}


/* Success Splash */
#success-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: all 0.5s ease;
}

#success-splash.hidden{
    opacity: 0;
    visibility: hidden;
}

#success-content {
    text-align: center;
}

#success-content img {
    max-width: 500px;
    height: auto;
    animation: fadeIn 1s ease-in-out;
}

#success-text {
    font-size: 64px;
    font-weight: 300;
}

