/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

@font-face {
    font-family: 'SF';
    src: url('Fonts/SF-Pro.ttf');
}

body {
    background-color: #ffffff;
    font-family: 'SF', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    cursor: default;
}

a {
    text-decoration: none;
    color: #000;
}

/* Nav bar */
.nav-bar {
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
    font-size: 30px;
}

.nav-bar .logo, .nav-bar .profile-button {
    padding: 20px;
    position: absolute; 
}

.nav-bar .logo {
    left: 0; 
}

.nav-bar img {
    max-height: 50px;
    width: auto; 
}

.nav-bar .profile-button {
    font-size: 18px;
    right: 0; 
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.nav-bar ul li {
    padding-left: 20px;
}

.nav-bar ul li a{
    transition: color 0.2s ease-in-out;
}

.book-link {
    color: #000; 
}

.host-link {
    color: #6a6a6a; 
}

.nav-bar ul li a:hover {
    color: #000; 
}


/* Bar under Nav */
.nav-bar::after {
    content: '';
    display: block;
    height: 2px; 
    background-color: #d1d1d1; 
    position: absolute;
    bottom: 0; 
    left: 50px; 
    right: 50px; 
    border-radius: 25px;
}

/* Profile Drop Down */
.profile-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999; 
}

.profile-wrapper {
    position: absolute;
    top: 50px;
    left: 85vw;
    width: 100%;
    display: none;
    z-index: 998; 
    display: none; 
}

.profile-wrapper.show {
    display: block; 
}

.profile-container{
    border: #000;
    background: #fff;
    box-shadow: 3px 3px 9px rgba(37, 37, 37, .25);
    border-radius: 20px;
    width: 200px;
}

.profile-container li{
    position: relative;
    font-size: 18px;
    padding: 12px;
    padding-left: 15px;
    text-decoration: none;
    list-style: none;
}

.profile-container li a{
    transition: all 0.1s ease-in-out;
}

.profile-container li a:hover{
    color: #ff6e86;
    text-decoration: underline;
}

.profile-container li span{
    margin-top: 20px;
}

.profile-container ul{
    padding: 0;
}

#logout{
    margin-top: 40px;
}

/* Content */

/*Property Header */
.property-header{
    margin-left: 50px;
    font-size: 28px;
    font-weight: 400;
}

/* Property List */
.property-wrapper{
    margin: 40px;
    margin-top: 20px;
}


.property-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.property-details {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.manage-property {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    list-style: none;
    font-size: 18px;
}

.manage-property li:nth-child(1) {
    margin-bottom: 30px;
}

.manage-property li:nth-child(2) {
    margin-top: auto;
    margin-bottom: auto; 
}

.manage-property li:nth-child(3) {
    margin-top: 30px;
}

.property-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgba(37, 37, 37, .25);
    overflow: hidden;
    padding: 10px; 
    margin-bottom: 15px;
}

.item-img {
    height: 150px;  
    width: 150px;   
    object-fit: cover;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.property-item img:hover{
    transform: scale(1.01);
}

.property-item a:hover {
    cursor: pointer;
}

.property-description {
    flex-grow: 1; 
    padding: 10px;
}

/* Footer */
.footer{
    position: relative;
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: none;
    justify-content: flex-start;
    text-align: left;
}

.footer a{
    margin-top: 65px;
    padding-left: 50px;
    font-size: 14px;
}

.footer a span{
    padding-top: 20px;
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
}

.footer::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #d1d1d1;
    position: absolute;
    bottom: 60px; 
    left: 50px; 
    right: 50px; 
    border-radius: 25px;
}

.footer a span:hover{
    color: #ff6e86;
}


/* Tool Tips */
/* Edit */
.edit-btn {
    position: relative;
    display: inline-block;
}
  
.edit-btn .edit-tip{
    visibility: hidden;
    opacity: 0;
    width: 120px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    
    top: 0px;
    right: 140%;

    position: absolute;
    z-index: 1;

    transition: all 0.2s ease-in-out;
}

.edit-btn:hover .edit-tip{
    visibility: visible;
    opacity: 1;
}
  
/* Message */
.manage-property a {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
}

.manage-property a:hover {
    text-decoration: underline;
    color: #6f6f6f;  
}

.message-btn {
    position: relative;
    display: inline-block;
}
  
.message-btn .message-tip{
    visibility: hidden;
    opacity: 0;
    width: 120px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    
    top: 0px;
    right: 140%;

    position: absolute;
    z-index: 1;

    transition: all 0.2s ease-in-out;
}

.message-btn:hover .message-tip{
    visibility: visible;
    opacity: 1;
}
  
/* Cancel */
.trash-btn {
    position: relative;
    display: inline-block;
}
  
.trash-btn .trash-tip{
    visibility: hidden;
    opacity: 0;
    width: 120px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    
    top: 0px;
    right: 140%;

    position: absolute;
    z-index: 1;

    transition: all 0.2s ease-in-out;
}

.trash-btn:hover .trash-tip{
    visibility: visible;
    opacity: 1;
}

/* Item warning */

.item-info{
    position: relative;
    display: inline-block;
    color: #181818;
    margin-left: 15px;
}

.item-info .item-tip{
    opacity: 0;
    width: 120px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 2px;
    border-radius: 5px;

    position: absolute;
    z-index: 1;
    left: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);

    transition: all 0.2s ease-in-out;
}

.item-info:hover .item-tip{
    visibility: visible;
    opacity: 1;
}

/* Date Picker */

.calendar-mask{
    position: absolute;
    z-index: 98;
    background: rgb(255,255,255,0.5);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    opacity: 1; 
    pointer-events: auto; 
    visibility: hidden;
}

.calendar-mask.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden; /* Hidden when the hidden class is applied */
}

.calendar-container{
    z-index: 99;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}


.datepicker-container {
    box-shadow: 5px 5px 9px rgba(94,104,121,0.2);
    padding: 20px;
    border-radius: 8px;
    background-color: #f6f6f6;
    max-width: 800px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
}

.calendar div {
    padding: 10px;
    background: #f0f0f0;
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.05), 
    inset 1px 1px 3px rgba(94,104,121,0.15); 
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.calendar div:hover {
    background-color: #e0e0e0;
}

.calendar div.selected {
    background-color: #9ecaed;
    color: white;
}

.calendar div.range {
    background-color: #ff6e86;
    color: white;
}

.calendar div.start,
.calendar div.end {
    background-color: #ff395c;
    color: white;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.calendar div.today {
    box-sizing: border-box;
}

.calendar div.today.start,
.calendar div.today.end {
    border: none;
    background-color: #ff395c; 
    color: white;
}

.datepicker-container .controls button{
    background-color: transparent;
}

.calendar-buttons{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.calendar-buttons a{
    border-radius: 25px;
    padding: 10px;
    color: #fff;
}

.calendar-buttons .confirmBtn{
    background-color: #ff6e86;
    transition: all 0.2s ease-in-out;
}

.calendar-buttons .cancelBtn{
    margin-left: 15px;
    background-color: #787878;
    transition: all 0.2s ease-in-out;
}

.calendar-buttons .confirmBtn:hover{
    background-color: #ff395c;
}

.calendar-buttons .cancelBtn:hover{
    background-color: #5d5d5d;
}

