/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

@font-face {
    font-family: 'SF';
    src: url('Fonts/SF-Pro.ttf');
}

body {
    background-color: #f4f4f4;
    font-family: 'SF', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    cursor: default;
}

a {
    text-decoration: none;
    color: #000;
}

/* Nav bar */
.nav-bar {
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
    font-size: 30px;
    z-index: 1000;
}

.nav-bar .logo, .nav-bar .profile-button {
    padding: 20px;
    position: absolute; 
}

.nav-bar .logo {
    left: 0; 
}

.nav-bar img {
    max-height: 50px;
    width: auto; 
}

.nav-bar .profile-button {
    font-size: 18px;
    right: 0; 
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.nav-bar ul li {
    padding-left: 20px;
}

.nav-bar ul li a{
    transition: color 0.2s ease-in-out;
}

.book-link {
    color: #000; 
}

.host-link {
    color: #6a6a6a; 
}

.nav-bar ul li a:hover {
    color: #000; 
}


/* Bar under Nav */
.nav-bar::after {
    content: '';
    display: block;
    height: 2px; 
    background-color: #d1d1d1; 
    position: absolute;
    bottom: 0; 
    left: 50px; 
    right: 50px; 
    border-radius: 25px;
}

.content{
    margin: 50px;
}

.content .title{
    font-size: 54px;
    font-weight: 500;
    margin: 0;
}

.content .reviews .reviews-link{
    text-decoration: underline;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

.content .reviews .reviews-link:hover{
    color: #ff395c;
}

.profile{
    display: flex;
    align-items: center;
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    font-size: 24px;
    color: #000; 
    margin-right: 20px;
  }

.profile-text{
    color: #000;
}

.host-name{
    color:#000;
}

.profile .years-hosting{
    color: #737373;
}

.content .description{
    margin-top: 16px;
    max-width: 40vw;
}

/*Gallery*/

.gallery-container {
    max-width: 40vw; 
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.main-image img {
    width: 100%; 
    border-radius: 25px; 
    margin-bottom: 20px; 
}

.thumbnail-container {
    display: flex;
    justify-content: space-around; 
    width: 100%;
}

.thumbnail {
    width: calc(35% - 25px); 
    margin: 10px; 
    border-radius: 25px; 
    cursor: pointer; 
    transition: all 0.2s ease-in-out;
}

.thumbnail:hover{
    transform: scale(1.1);
}

.content {
    display: flex;
    justify-content: space-between;
}

.description-container, .gallery-container {
    flex: 1;
    margin: 20px;
}

.content .description {
    max-width: 40vw;
}

.content {
    min-height: 100%;
    padding-bottom: 60px; 
    box-sizing: border-box; 
}

/* Footer */
.footer::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #d1d1d1;
    position: absolute;
    bottom: 60px; 
    left: 50px; 
    right: 50px; 
    border-radius: 25px;
}


.footer {
    height: 60px; 
    width: 100%;
    position: fixed; 
    bottom: 0;
    left: 0px;
    background-color: #f4f4f4; 
    color: #000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.footer .price{
    padding-left: 50px;
    font-size: 22px;
}

.button-container {
    padding-right: 50px;
    display: flex;
    gap: 35px;
    height: 40px;
    width: auto;
}
  
.button-container button{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 22px;
}

.button-container .cancel{
    background-color: #787878;
    color: #fff;
    transition: all 0.2s ease-in-out;
    width: 100px;
}

.cancel a{
    color: #fff;
}

.button-container .book{
    width: 100px;
    background-color: #ff6e86;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.button-container .book:hover{
    cursor: pointer;
    background-color: #ff395c;
}

.button-container .cancel:hover{
    cursor: pointer;
    background-color: #6a6a6a;
}

/* Reviews */
#reviews-header{
    margin: 50px;
    font-size: 24px;
}

.reviews-container {
    display: flex;
    overflow-x: auto; 
    flex-wrap: nowrap; 
    margin: 50px;
    overflow-y: hidden;
}

.reviews-container::-webkit-scrollbar{
    display: none;
}

.review {
    flex: 0 0 auto; 
    max-width: 350px;
    max-height: 200px;
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 25px;
    outline: none;
    border: none;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 
    5px 5px 9px rgba(94,104,121,0.3);
}

.reviews-container .content{
    margin: 0px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.details-container{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Calendar */
.calendar-container{
    font-size: 18px;
}

.calendar-container p{
    margin-bottom: 30px;
}

.datepicker-container {
    box-shadow: 5px 5px 9px rgba(94,104,121,0.2);
    padding: 20px;
    border-radius: 8px;
    background-color: #f6f6f6;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
}

.calendar div {
    padding: 10px;
    background: #f0f0f0;
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.05), 
    inset 1px 1px 3px rgba(94,104,121,0.15); 
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.calendar div:hover {
    background-color: #e0e0e0;
}

.calendar div.selected {
    background-color: #9ecaed;
    color: white;
}

.calendar div.range {
    background-color: #ff6e86;
    color: white;
}

.calendar div.start,
.calendar div.end {
    background-color: #ff395c;
    color: white;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.calendar div.today {
    border: 2px solid black;
    box-sizing: border-box;
}

.calendar div.today.start,
.calendar div.today.end {
    border: none;
    background-color: #ff395c; 
    color: white;
}

/* Profile Drop Down */
.profile-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999; 
}

.profile-wrapper {
    position: absolute;
    top: 50px;
    left: 85vw;
    width: 100%;
    display: none;
    z-index: 998; 
}

.profile-wrapper.show {
    display: block; 
}

.profile-container{
    border: #000;
    background: #fff;
    box-shadow: 3px 3px 9px rgba(37, 37, 37, .25);
    border-radius: 20px;
    width: 200px;
}

.profile-container li{
    position: relative;
    font-size: 18px;
    padding: 12px;
    padding-left: 15px;
    text-decoration: none;
    list-style: none;
}

.profile-container li a{
    transition: all 0.1s ease-in-out;
}

.profile-container li a:hover{
    color: #ff6e86;
    text-decoration: underline;
}

.profile-container li span{
    margin-top: 20px;
}

.profile-container ul{
    padding: 0;
}

#logout{
    margin-top: 40px;
}

/*Confirm dates*/

.confirmation-mask {
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 999;
    opacity: 0;  
    visibility: hidden; 
    transition: visibility 0s 0.5s, opacity 0.5s linear;  
}

.confirmation-mask.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s linear;  
}


.confirmation-mask .payment-text{
    text-align: center;
    font-size: 38px;
    font-weight: 400;
}

.confirmation-mask .calendar-text{
    text-align: center;
    font-size: 38px;
    font-weight: 400;
}

.confirmation-mask .calendar-container{
    max-width: 500px;
}

.confirmation-mask .calendar-container{
    margin-top: 20px;
}

/* Payment */

.payment-c{
    margin-left: 200px;
}

.payment-container{
    margin: 50px;
    margin-top: 20px;
    max-width: 500px;
    width: 300px;
    max-height: 450px;
    padding: 30px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 
    5px 5px 9px rgba(94,104,121,0.3);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-group {
    margin-bottom: 15px; 
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500; 
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.button-group{
    display: flex;
    justify-content: space-around;
}

.submit-button {
    background-color: #ff6e86;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40%;
    font-size: 16px;
    height: 50px;
}

.submit-button a{
    color: #fff;
}

.submit-button:hover {
    background-color: #ff395c; 
}

.cancel-button {
    height: 50px;
    background-color: #787878;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40%;
    font-size: 16px;
}

.cancel-button:hover {
    background-color: #6a6a6a; 
}
